* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #192734;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  /* height: 100vh; */
  width: 100vw;
  background-color: #192734;
}
.sidebar-left {
  margin-left: 10%;
  flex: 0.2;
  border-right: 1px solid #38444e;
  border-left: 1px solid #38444e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.sidebar-left h1 {
  color: #f2ffff;
}

.sidebar-right {
  margin-right: 10%;
  flex: 0.2;
  border-left: 1px solid #38444e;
  border-right: 1px solid #38444e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-right h1 {
  color: #f2ffff;
}

.main {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #15202a;
}
.main h1 {
  color: #f2ffff;
  padding: 10px;
}
.main h3 {
  width: fit-content;
}

.main h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-card {
  display: flex;
  padding: 10px;

  position: relative;
  border: 1px solid #38444e;
  margin-bottom: 10px;
  width: 100%;
  background-color: #15202c;
}
.user-card img {
  display: block;
  padding: 5px;
  margin: 10px 10px;
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 70px;
  max-height: 70px;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-form > input {
  border: none;
  width: 100%;
  margin-top: 10px;
  background-color: #15202c;
  padding: 10px;
  color: #f2ffff;
  font-size: 20px;
}
.user-form > input:focus {
  outline-width: 0;
}
.user-icons {
  margin-top: 40px;
  display: flex;
  align-items: center;

  border-top: solid 1px #38444e;

  height: 100%;
}

.user-button {
  border: none;
  background-color: #20608f;
  opacity: 0.8;

  color: #fff;

  width: 80px;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;

  margin-left: auto;
  cursor: pointer;
}

.user-button.active {
  background-color: #35a1f2;
  opacity: 1;
}

.user-icons > button:focus {
  outline-width: 0;
}

.post-card {
  border-top: 1px solid #38444e;
  background-color: #15202c;
  padding: 10px;
  border-bottom: 1px solid #38444e;
  display: flex;
  color: #f2ffff;
}
.post-card:hover {
  background-color: #1c2733;
  cursor: pointer;
}

.post-card > img {
  padding: 5px;
  margin: 10px 10px;
  display: block;
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 70px;
  max-height: 70px;
}

.post-inf {
  display: flex;
  flex-direction: column;
}
.post-inf h3 {
  padding: 5px;
  margin-top: 10px;
}

.post-icons {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  justify-content: space-between;
  margin-right: 20px;
  cursor: pointer;
}
